# #loop
#for loop
#while loop

#syntax of for loop

#for i in range

#code------->

for x in range(10):
    print(x)

In [1]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [4]:
#wap to print 1-10

# For Loop

#while loop

#syntax------>



for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(20,2,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [6]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [8]:
#wap to print number from 1-50
#try to print numbers in alternative way.

for i in range(1,50,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [9]:

for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [10]:
#wap to print -1 to 10.


for i in range(-1,11):
    print(i)

-1
0
1
2
3
4
5
6
7
8
9
10

In [11]:


for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [12]:
#Wap to print -1 to -10


for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [13]:
#Wap to print 1 to -10

for i in range(1,-11,-1):
    print(i)

1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [14]:
#wap to print odd numbers

count=0
for i in range(1,31):
    if i%2==0:
        print(i)
        count = count+1
print("Count-------->",count)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
Count--------> 15

In [15]:
#Wap to check a string is reversed or not
# wap to check a string is palendrom or not


x="hello"
y=''
for i in x:
   # print(i)

    y=i+y
print(y)
if x !=y:
    print('reverse')
else:
    print("NR")

olleh
reverse



























# while loop

In [16]:
#1.initialization
#condition
#increment/ decrement

#wap to print 1-10.

x=1
while x<=5:
    print(x)
    x=x+1

1
2
3
4
5

In [17]:
#wap to print 1-10

x=1
while x<10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9

In [18]:
# wap to print -1 to 10
# wap to print -1 to -10
# wap to print 1 to -10
# wap to print even number from 1-50
# wap to odd num from 20-80


for i in range(1,11,-1):
    print(i)

In [19]:







x=1
while x<=5:
    print(x)
    x=x+1

1
2
3
4
5

In [20]:
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [21]:
x=1
while x<=20:
    if x % 2 ==0:
        print('even number',x)
    else:
        print('odd number',x)
        
    x=x+1

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19
even number 20

In [22]:
x=1
while x<=20:
    if x % 2 ==0:
        print('even number')
    else:
        print('odd number')
        
    x=x+1

odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number
odd number
even number

In [23]:
x=1
while x<=20:
    if x % 2 == 0:
        print('even number',x)
    else:
        print('odd number',x)
        
    x=x+1

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19
even number 20

In [24]:
#wap to count total number in a digit----->.?
n=781345
count=0
while n>0:
    count=count+1
    n=n//10
    
    
print(count)

6

In [25]:
# wap to reverse a number...?
a=25567
reverse_num=0


while a > 0:
    digit = a % 10
    reverse_num=reverse_num * 10 +digit
    a = a//10

    
print(reverse_num)

76552

In [69]:
#wap to solve prime number.
x=int(input("enter the number"))
n=0
for i in range(1,x+1):
    if x % i == 0:
        n=n+1
if n==x+1:
    print('prime num')
else:
    print('not prime')

enter the number3
not prime

In [27]:
#wap to find fibonaci series....
n1,n2=0,1
nterms=7
count=0

if nterms <=1:
    print("enter the positive num")

elif nterms ==1:
    print(n1)
    
    
else:
    print('sequience')
    while count < nterms:
        print(n1)
        nth = n1+n2
        n1  = n2
        n2  = nth
        count+=1

sequience
0
1
1
2
3
5
8

In [28]:
n1,n2=0,1
count = 0
nterms = 10
while count<nterms:
    print(n1)
    nth = n1+n2
    n1=n2
    n2=nth
    count+=1

0
1
1
2
3
5
8
13
21
34

In [50]:
a=24
if a%2==0 and a%5==0 and a%6==0:
    print("divisible")
else:
    print("not divisible")

not divisible

In [31]:
#wap to count totel number in a digit..

n=23467
count=0
while n>0:
    count=count+1
    n = n//10
print(count)

5

In [41]:
#wap to reverse a number..

a=int(input("enter the number"))
reverse_num = 0
while a>0:
    digit = a % 10
    reverse_num = reverse_num * 10 + digit
    a=a//10
print(reverse_num)

enter the number12345
54321

In [55]:
#wap to find number which divisible by both 6 & 2 but also 5...

a=int(input("Enter the number"))
if a%5==0 and a%2==0 and a%6==0:
    print("divisible")
else:
    print("not divisible")

Enter the number20
not divisible

In [73]:
#wap to find prime number

x=int(input("enter the number"))
n=0
for i in range(1,x+1):
    if x % i == 0:
        n=n+1
if n==x+1:
    print('prime num')
else:
    print('not prime')

enter the number5
not prime